@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background: url('background_photo.jpg') no-repeat center center/cover;
  line-height: 1.6;
}

hr {
  margin: 10px 0;
}

/* App */
.title {
  color: #fff;
  background-color: #010c3f;
  text-align: center;
  padding: 10px;
}

.title span {
  color: rgba(108, 65, 233, .7);
}

/* SearchBar */
.search-container {
  text-align: center;
  margin: 10px 0;
  /* border: 1px solid #fff; */
}

.search-input {
  padding: 10px;
  font-size: 15px;
  width: 250px;
}

.search-button {
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  width: 100px;
  border-radius: 25px;
  background-color: #010c3f;
  color: #fff;
  cursor: pointer;
}

.search-button:hover {
  background-color: rgba(108, 65, 233, .7);
}

/* Search Results */
.results {
  background-color: #010c3f;
  opacity: 0.8;
  padding: 15px;
  width: 55%;
  margin: 0 25px;
}

.results h1, .name {
  color: #fff;
}

.results span {
  color: #909090;
}