@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background: url('background_photo.jpg') no-repeat center center/cover;
  line-height: 1.6;
}

hr {
  margin: 10px 0;
}

h1, h3 {
  color: #fff;
}

/* App */
.title {
  color: #fff;
  background-color: #010c3f;
  text-align: center;
  padding: 10px;
}

.title span {
  color: rgba(108, 65, 233, .7);
}

/* SearchBar */
.search-container {
  text-align: center;
  margin: 10px 0;
}

.search-input {
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  width: 270px;
}

.search-btn {
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  width: 100px;
  border-radius: 25px;
  border-style: none;
  background-color: #010c3f;
  color: #fff;
  cursor: pointer;
}

.search-btn:hover {
  background-color: rgba(108, 65, 233, .7);
}

/* Search Results and Playlist */
.container {
  display: flex;
}

.box {
  background-color: #010c3f;
  opacity: 0.8;
  padding: 15px;
  margin: 30px 25px 20px 25px;
  height: 100vh;
  overflow-y: auto;
}

/* Search Results */
.results {
  width: 55%;
}

.results span {
  color: #909090;
}

.add-btn {
  float: right;
  border: none;
  color: #fff;
  background-color: transparent;
  padding: 0 15px;
  font-size: 20px;
  cursor: pointer;
}

/* PlayList */
.playlist {
  width: 45%;
}

.save-btn {
  background-color: rgba(108, 65, 233, .7);
  color: #fff;
  padding: 15px 25px;;
  border-radius: 25px;
  border-style: none;
  text-transform: uppercase;
  margin: 10px auto;
  display: block;
  cursor: pointer;
}

